$color-black: #0f0f24;
$color-white: #fff;
$color-primary: #5b5fd4;
$color-light: #969afc;
$color-dark: #2c2e6f;
$color-yellow: #ffcb47;
$color-beige: #f9f7f6;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.major {
  font-family: "Abril Fatface", cursive;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: $color-white;
  transition: box-shadow .12s ease-in;
  &:hover{
    box-shadow: 0 2px 5px rgb(0 0 0 / 8%);
  }
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1600px;
  margin: auto;
  width: 100%;
  padding: 24px 100px;
}

.navmenu {
  display: flex;
  justify-content: space-between;
}

.navmenu__link {
  text-decoration: none;
  color: $color-black;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 8px;
  transition: all 0.2s ease-in;
  margin-right: 32px;
  &:hover {
    color: $color-primary;
  }
  &:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    background: $color-light;
    transition: width 0.3s ease-in 0s;
    width: 0;
  }
  &:hover:after {
    width: 100%;
  }
}

.navmenu__button {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: $color-white;
  background-color: $color-primary;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 6px;
  transition: all 0.2s ease-in;
  &:hover {
    background: $color-dark;
  }
}

.viewport {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 93px;
}

.section {
  max-width: 1600px;
  height: 100%;
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: $color-beige;
}

.title-major {
  font-family: "Abril Fatface", cursive;
  font-size: 56px;
  font-weight: 400;
  line-height: 76px;
}
