$color-black: #0f0f24;
$color-white: #fff;
$color-primary: #5b5fd4;
$color-light: #969afc;
$color-dark: #2c2e6f;
$color-yellow: #ffcb47;
$color-beige: #f9f7f6;
$color-navy: #052633;
$color-blue: #69ddea;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: $color-beige;
    }

    &::-webkit-scrollbar-thumb {
        background: $color-light;
        &:hover {
            background: $color-primary;
        }
    }
}

button {
    font-family: "Work Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-width: 0;
}

.viewport {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 93px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;
    transition: box-shadow 0.12s ease-in;
    //   &:hover{
    //     box-shadow: 0 2px 5px rgb(0 0 0 / 8%);
    //   }
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    padding: 24px 6vw;
    z-index: 90;
    background-color: $color-white;
    @media (max-width: 960px) {
        padding: 24px;
    }
}

.navmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @media (max-width: 960px) {
        display: none;
    }
}

.navmenu__link {
    text-decoration: none;
    color: $color-black;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 24px;
    border-radius: 8px;
    transition: all 0.2s ease-in;
    margin-right: 16px;
    &:hover {
        color: $color-primary;
    }
    &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        background: $color-light;
        transition: width 0.3s ease-in 0s;
        width: 0;
    }
    &:hover:after {
        width: 100%;
    }
}

.navmenu__button {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: $color-white;
    background-color: $color-primary;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 24px;
    border-radius: 6px;
    transition: all 0.2s ease-in;
    &:hover {
        background: $color-dark;
    }
}

.hamburger {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #5b5fd4;
    height: 45px;
    span {
        height: 5px;
        width: 40px;
        background: $color-black;
        margin-bottom: 7px;
        &.zero-margin {
            margin: 0;
        }
    }
    @media (max-width: 960px) {
        display: flex;
    }
}

.navmenu-mobile {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    padding-top: 93px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: $color-dark;
    z-index: 80;
    display: flex;
    transform: translateX(100%);
    transition: all 0.3s cubic-bezier(0.47, 0.4, 0, 0.98);

    @media (min-width: 960px) {
        display: none;
    }
    .navmenu__link-mobile {
        text-decoration: none;
        color: $color-white;
        text-align: left;
        font-size: 20px;
        font-weight: 500;
        padding: 24px 30px;
        width: 100%;
        transition: all 0.15s ease-in;

        &:hover {
            background-color: $color-light;
        }
    }
}

.navmenu-mobile.open {
    transform: translateX(0);
}

.section {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 6vw;
    color: $color-navy;

    &-beige {
        background-color: $color-beige;
    }
    &-dark {
        background-color: $color-dark;
    }

    &-hero {
        padding: 4vw 0 4vw 6vw;
    }

    &-column {
        flex-direction: column;
    }

    &__boxcontainer {
        height: 100%;
        width: 100%;
        max-width: 1600px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}

.section__box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &__img {
        width: 100%;
        &.img-rectangle {
            padding: 20px 0 35px 0;
        }
        &.img-small {
            max-height: 200px;
            height: 100%;
        }
    }
    &__imgcontainer {
        width: 100%;
        height: 12vw;
        margin-bottom: 24px;
    }

    &-large {
        width: 60%;
    }

    &-small {
        width: 40%;
    }

    &-1-3 {
        width: 33%;
        padding: 3vw;
        align-items: center;
    }
}

.section__menu {
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__menu__button,
.section__menu__button-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    padding: 18px 36px;
    border-radius: 6px;
    color: $color-white;
    background-color: $color-primary;
    transition: all 0.2s ease-in;
    &:hover {
        background: $color-dark;
    }
}
.section__menu__button-link {
    color: $color-primary;
    background-color: transparent;
    border: 2px solid transparent;
    &:hover {
        border: 2px solid $color-primary;
        background: transparent;
    }
}

.Hero__House {
    width: 100%;
}

.listitem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 50px;

    &__bulletcircle {
        align-self: flex-start;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65px;
        width: 65px;
        border-radius: 50%;
        background-color: $color-primary;
        font-weight: 600;
        font-size: 30px;
        color: $color-white;
        flex-shrink: 0;
        text-align: center;
        user-select: none;

        margin-right: 24px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

.card {
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    border-radius: 4px;
    padding: 40px 20px 40px 40px;

    &__person {
        @extend .listitem;
        margin-bottom: 20px;

        &__avatar {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90px;
            width: 90px;
            border-radius: 50%;
            flex-shrink: 0;
            text-align: center;
            user-select: none;

            margin-right: 24px;
        }
    }
}

.triangle {
    width: 0;
    height: 0;
    &-topright {
        align-self: flex-end;
        border-top: 30px solid $color-blue;
        border-left: 30px solid transparent;
        margin-bottom: 15px;
    }
    &-bottomleft {
        align-self: flex-start;
        border-bottom: 30px solid $color-blue;
        border-right: 30px solid transparent;
        margin-top: 15px;
    }
}

.title {
    &-major {
        font-family: "Abril Fatface", cursive;
        font-size: 56px;
        font-weight: 400;
        line-height: 76px;
    }
    &-large {
        font-family: "Abril Fatface", cursive;
        font-size: 48px;
        font-weight: 400;
        line-height: 74px;
        &-empty {
            height: 74px;
        }
    }
    &-small {
        color: $color-black;
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
    }
}

.text {
    &-main {
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
    }

    &-regular {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }

    &-color-primary {
        color: $color-primary !important;
    }
    &-color-dark {
        color: $color-dark !important;
    }
}
